html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #ededed;
    font-family: sans-serif;
    color: rgb(77, 77, 77);
}

.wrapper {
    max-width: 1770px;
    margin: 0 auto;
}

.accounting {
    max-width: 500px;
    margin: 0 auto;
    &__bydate {
        background: #fff;
        padding: 5px 10px;
        box-shadow: 0 2px 4px rgb(173, 173, 173);
        margin-bottom: 6px;
        .accounting__total {
            display: flex;
            justify-content: space-between;
            font-size: 1.1em;
            .accounting__date {
                cursor: pointer;
            }
        }
        .date__toggle {
            position: relative;
            top: 7px;
            margin-right: 5px;
        }
        .arrow-toggle {
            width: 0px;
            height: 0px;
            border: 6px solid transparent; 
            border-top-color: #a8a7a7; 
            padding: 0;
            float: left;
            transform: rotate(0deg) translate(0, 0);
            cursor: pointer;
            &:before {
                content:'';
                width: 0px;
                height: 0px;
                border: 4px solid transparent; 
                border-top-color: #fff;
                display: inline-block;
                transform: translate(-4px, -15px);
            }
            &.down {
                top: 0;
                transform: rotate(180deg) translate(0, 0);
                &:before {
                    transform: translate(-4px, -15px);
                }
            }
        }
    }
}

.accounting__bydocs {
    padding: 10px 15px;
    margin-top: 5px;
    display: none;
    .accounting__bydoc {
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
        &:last-child {        
            border:none;        
        }
    }
    .accounting__info {
        display: flex;
        justify-content: space-between;
    }
    .accounting__products_total {
        padding: 10px;
        span.dropdown-toggle {
            border: 5px solid transparent;
            border-top-color: #555;
            position: relative;
            top: 10px;
            margin-right: 6px;
        }
        .count_products__text {
            cursor: pointer;
        }
    }
}

.accounting__products {
    display: none;
    padding: 5px 10px;    
    .accounting__product {
        display: flex;
        align-items: center;
        margin: 10px 0;
    }
    .product__image {
        flex-basis: 100px;
        margin-right: 20px;
    }
    .product__name {
        font-weight: bold;
        .product__count {
            font-size: 1.3em;
            display: flex;
            margin-top: 10px;
        }     
    }
    .product__price {
        margin-left: auto;
        font-size: 1.3em;
        font-weight: bold;
        margin-top: 28px;
    }
    img {
        width: 100%;
    }
}